.full-width {
    align-self: center;
    width: 95%;
}

.half-width {
    align-self: center;
    margin-left: 2%;
    width: 45%;
}

.form-size {
    align-self: center;
    width: 75%;
}

.center {
    align-self: center;
}